/*
 * Globals
 */

/* body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
  }*/

  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    margin-top: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #333;
    font-size: 150%;
  }
  h1 {
    word-spacing: 9px;
  }
  h3, p {
    line-height: 1.5;
  }



/*
 * Override Bootstrap's default container.
 */

 @media (min-width: 1200px) {
  .container {
    width: 100%;
    margin: 0;
    background-color: #f0f8ff;
  }
  .container-header {
    width: 100%;

  }

  /*about page*/
  .about-header {
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 3%;
    padding-right: 4%;
    float:left;

  }

  .about-clients h1 {
    font-size: 300%;
    font-weight: 500;
  }

  .about-overview {
    margin-top:10px;
    margin-left:5%;
    padding:0;
    text-align: left;
    float: left;
    width: 45%;
    padding: 0px;
    height: 400px;

  }

  .about-service {
    margin-top: 10px;
    padding:0;
    float: right;
    width: 40%;
    padding-left: 120px;
    height: 400px;
  }

  .about-service li {
    -webkit-columns: 2;
    -moz-columns: 2;
    display: list-item
  }
  .about-service ul {
    columns: 2;

  }
  .about-service h3 {
    font-size: 150%;
    font-weight: 500;
  }

  .about-header {
    font-size: 300%;
    font-weight: 500;
  }

  .about-category {
    float: left;
    width: 33%;
    padding-top: 2%;
    padding-right: 3%;
    padding-bottom: 5%;
    /*height: 600px; */
    text-align: left;
    padding-left: 6%;
    
  }
  .about-category h3 {
    font-size: 150%;
    font-weight: 600;
  }

  .about-category ul {
    padding: 0;
    font-size: 130%;
    font-weight: 400;
  }

  .about-category li {
    display: list-item;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .about-awards:before {
    content: "";
    display: block;
    width: 100%;
    /*margin-left: 2%;
    margin-right: 2%;*/
    border-bottom: 2px solid #A9A9A9;
  }

  .services h3 {
    font-weight: 500;
    font-size: 200%;
    margin-bottom: 3%;
  }

  .services h1 {
    font-size: 300%;
    font-weight: 500;
    margin-bottom: 4%;
  }


}

.main-underline {
  content: "";
  display: block;
  width: 93%;
  margin-left: 3%;
  margin-top: 20%;
  /* margin-bottom: 60px;*/
  border-bottom: 2px solid black;
  -webkit-box-shadow:0px 2px 2px #696969;
  -moz-box-shadow:0px 2px 2px #696969;
  box-shadow:0px 2px 2px #696969;
}

.main {
  margin-left:3%;
  margin-right:3%;
  margin-top: 3%;
  background-image: url("images/adobe-stock.jpg");
  width: 93%;
  height: 300px;
}

/* 
 * home page 
 */

 .descriptor { /* LLA descriptor/tagline box */
   margin-right:3%;
   text-align: center;
   width: 35%;
   padding: 0px;
   height: 400px;
 }

 .license-buy { /* sell license buttons */
  background-color:#800000;
  font-size: 120%;
  color: white;
  text-align: center;
  width: 60%;
  margin-top: 5%;
  height: 60px;
  border-radius: 10px;
}

.license-sell { /* sell license buttons */
  margin:0;
  background-color:#800000;
  color: white;
  font-size: 120%;
  text-align: center;
  width: 60%;
  padding: 0px;
  height: 60px;
  border-radius: 10px;
  margin-top: 5%;
}



/* 
 * services page
 */

 .services { /*overview*/
  margin-top: 5%;
  margin-left:100px;
  padding:0;
  text-align: left;
  float: left;
  width: 50%;
  padding: 0px;
  height: 500px;
}


.job { /*job specific services*/
  margin-top: 5%;
  margin-right:50px;
  margin-bottom: 15%;
  padding:0;
  background-color:#DCDCDC;
  text-align: center;
  float: right;
  width: 30%;
  padding: 0px;
  height: 500px;
  border-radius: 5px;

}

.job h3 {
  font-weight: 500;
  font-size: 180%;
  margin-top: 20%;

}

.specific { /* specific services */
  margin:0;
  background-color:#800000;
  text-align: center;
  width: 50%;
  height: 50px;
  border-radius: 6px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 3%;


/*  border-top: 15px solid #DCDCDC;
  border-bottom: 15px solid #DCDCDC;
  border-left: 30px solid #DCDCDC;
  border-right: 30px solid #DCDCDC;*/
}

.specific a {
  color: white;
}

.services-buttons {
  margin-top: 10%;
  margin-bottom: 10%;
  font-weight: 300;
  font-size: 130%;
  color: white;
}

.services-buttons a {
  color: white;
}

.begin-button { /* don't know where to begin? banner */
margin-top:10px;
margin-left:50px;
background-color: #f0f8ff;
text-align: center;
float: center;
width: 80%;
padding: 0px;
height: 70px;
border: 2px solid #800000;
border-radius: 5px;
font-weight: 500;
font-size: 140%;
}


.banner { /* CTA banner */
  margin:0;
  background-color:#DCDCDC;
  text-align: center;
  float: center;
  padding: 0px;
  height: 400px;
  border-top: 100px solid #ffffff;
  border-left: 90px solid #ffffff;
  border-right: 50px solid #ffffff;
  border-bottom: 50px solid #ffffff;*/
}


 /*
  * Contact page
  */
  .office-info {
    width: 50%;
    padding-left: 20%;
    padding-top: 5%;
    text-align: center;

  }

  .office-info h2 {
    /*border-bottom: 3px solid #d3d3d3;
    width: 70%;
    text-align: center;*/
    text-decoration:underline;
    padding-bottom: 5px;

  }

  .underline 
  {
    color: blue;
    border-bottom: 1px solid red;
  }

  .office-info h3 {
    padding-top: 10px;
  }

  .contact-header {
    /*padding-top: 5%;*/
    padding-left: 7%;
    padding-bottom: 3%;
    padding-right: 4%;
    float:left;

  }
  .contact-header h1 {
    font-size: 400%;
    font-weight: 500;
  }

/*  .contact-header:before {
    content: "";
    display: block;
    width: 100%;
    margin-bottom: 60px;
    border-bottom: 2px solid black;
    -webkit-box-shadow:0px 2px 2px #696969;
    -moz-box-shadow:0px 2px 2px #696969;
    box-shadow:0px 2px 2px #696969;
  }*/

  .message-box {
    padding-left: 7%;
    padding-bottom: 3%;
    float:left;
    width: 600px;

  }
  .message-box-header h2 {
    font-size: 200%;
    font-weight: 400;
    padding-bottom: 3%;
  }

/*  .wpcf7-form {
    padding-left: 7%;
    padding-bottom: 3%;
    float:left;
    width: 600px;

  }
  */
  .wpcf7 input[type="text"],
  .wpcf7 input[type="email"],
  .wpcf7 textarea
  {
    background-color: #f1f1f1;
    width: 180%;
  }

  .wpcf7 input[type="text"],
  .wpcf7 input[type="email"] {
    min-height: 45px;

  }
  .wpcf7 input[type="submit"] {
    background-color: #f1f1f1;
    color: black;
    width: 45%;
    float: left;
    height: 40px;
  }


  .divider{
    position:absolute;
    left:50%;
    top:70%;
    bottom:1%;
    height: 66%;
    border-left:3px solid #d3d3d3;
  }


  /* email form */


/*
 * Masthead for nav
 */

 .blog-masthead {
  background-color: 
/*  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);*/
}

/*.blog-nav {
  width: 100%;
  height:30%;
  background-color: black;
}*/

.blog-nav:after {
  content: "";
  display: inline-block;
  width: 95%;
  margin-left: 2%;;
  border-bottom: 2px solid black;
  -webkit-box-shadow:0px 2px 2px #696969;
  -moz-box-shadow:0px 2px 2px #696969;
  box-shadow:0px 2px 2px #696969;
}

.blog-nav li {
  position: relative;
  display: inline-block;
  margin-top: 15%;
  padding:20px;
  font-weight: 400; 
  float: left;
  font-size: 150%;
}
.blog-nav li a {
  color: black;
}

/*.blog-nav {
  margin-top: 5%;
  border-bottom: 2px solid coral;
}
*/


/* Nav links */
.blog-nav-item { /* HOME button */
  position: relative;
  display: inline-block;
  padding: 20px;
  margin-top: 15%;
  font-weight: 400;
  color: black;
  float: left;
  padding-left: 20%;
  font-size: 150%;
}

#lla-logo { /* LLA logo image */
  width: 350px;
  height: 250px;
  padding-left: 5%;
  /*margin-top: 12%;
*//*  position: absolute;*/
  overflow: hidden;
  display: inline-block;
  float: left;
}

.blog-nav-item:hover,
.blog-nav-item:focus {
  color: black;
  text-decoration: none;
}

/*.blog-nav:after,
.blog-nav-item:after {
    content:' ';
    display:block;
    border:2px solid #d0d0d0;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);

}
*/
/* Active state gets a caret at the bottom */
/*.blog-nav .active {
  color: #fff;
  }*/
/*.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
  }*/


/*
 * Blog name and description
 */

 .blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
/*.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
  }*/


/*
 * Main column and sidebar layout
 */

/*.blog-main {
  font-size: 18px;
  line-height: 1.5;
}
*/

/* Create three equal columns for homepage reviews */
.review-column {
  float: left;
  width: 33%;
  padding-top: 5%;
  padding-right: 3%;
  padding-left: 3%;
  padding-bottom: 30%;
  height: 300px; 
  text-align: center;
}

.review-column p {
  font-size: 120%;
}

.column-quote {
  float: right;
  padding-top: 10%;
  padding-left: 20%;
  font-size: 150%;
  margin: 0;
  padding-right: 5%;
  padding-bottom: 10%;
}

.column-quote h3{
  font-size: 100%;
}

.column-dan {
  padding-top: 10%;
  float: left;
}

/* services page */
.services-overview {
  float: center;
  width: 33%;
  padding: 10px;
  height: 300px; 
  text-align: center;

}

.services-header {
  padding-top: 5%;
  padding-left: 7%;
  padding-bottom: 3%;
  padding-right: 4%;
  float:left;
  font-size: 300%;
  font-weight: 500;
}

/* resources page */
.search {
  float: left;
  width: 40%;
  margin-left: 5%;
  margin-top: 5%; 
  text-align: left;

}

.search h1 {
  font-size: 300%;
  font-weight: 500;
  padding-top: 3%;
} 
.search h2 {
  color:  #808080;
  padding-top: 1%;
}

.articles {
  float: right;
  width: 60%;
  /*margin-top: 5%;*/
  text-align: right;
}

.industry-content {
  float: left;
  width: 25%;
  padding: 10px;
  height: 200px; 
  text-align: left;
  background-color:#428bca;
  margin-top: 50px;
  margin-bottom: 15px;
  margin-left: 10px;
}



/* pic of dan - homepage */
#pic-dan {
  width: 400px;
  height: 400px;
  position: relative;
  overflow: hidden;
  border-radius: 90%;
  display: inline-block;
  margin-left: 25%;
  float: left;
}


/* create 5 columns for footer */
.footer {
  float: center;
  width: 100%;
  padding-top: 3%;
  padding-right: 3%;
  padding-bottom: 15%;
  height: 100px; 
  text-align: center;
  position: relative;
  display: inline-block;
  
}

.footer li {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #333;
  font-size: 150%;
  padding-left: 13%;

}

.footer:before {
  content: "";
  display: block;
  width: 100%;
  margin-bottom: 40px;
  border-bottom: 6px solid black;
  -webkit-box-shadow:0px 5px 5px #696969;
  -moz-box-shadow:0px 5px 5px #696969;
  box-shadow:0px 5px 5px #696969;
}

ul, li{
  display:inline-block;
}




/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}

.services-overview {
  margin:110;
  padding:0;
  background-color:#DCDCDC;
  text-align: center;
  float: right;
  width: 38%;
  padding: 0px;
  height: 300px;
/*    width: 200px;
height: 300px;*/
}
.services-job {
  margin:0;
  padding:0;
  background-color:#DCDCDC;
  text-align: center;
  float: right;
  width: 38%;
  padding: 0px;
  height: 300px;
/*    width: 200px;
height: 300px;*/
}

/*
 * Main site
 */

 .blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-top: 10%;
  font-size: 150%;
  color: white;
}
.blog-post-search {
  margin-bottom: 5px;
  font-size: 20px;
}
.client-review-title {
  margin-bottom: 5px;
  font-size: 40px;
  text-align: center;
}

.client-review-title:before {
  content: "";
  display: block;
  width: 100%;
  margin-bottom: 60px;
  border-bottom: 2px solid black;
  -webkit-box-shadow:0px 2px 2px #696969;
  -moz-box-shadow:0px 2px 2px #696969;
  box-shadow:0px 2px 2px #696969;
}



.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}



/*
 * Footer
 */

 .blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
