/*
 * Globals
 */

/* body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
  }*/

  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    margin-top: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #333;
    font-size: 150%;
  }


/*
 * Override Bootstrap's default container.
 */

 @media (min-width: 1200px) {
  .container {
    width: 960px;
    margin: 0;
  }
  .container-header {
    width: 960px;
    float: right;
  }
  .main {
    margin-left:100px;
    margin-right: 200px;
    /*background-color:black;*/
    background-image: url("images/adobe-stock.jpg");
    width: 80%;
    height: 300px;
  }
  /*about page*/
  .about-overview {
    margin-top:10px;
    margin-left:50px;
    padding:0;
    background-color:#DCDCDC;
    text-align: center;
    float: left;
    width: 60%;
    padding: 0px;
    height: 400px;
  }

  .about-twitter {
    margin-top: 10px;
    margin-right: 50px;
    padding:0;
    background-color:#DCDCDC;
    text-align: center;
    float: right;
    width: 30%;
    height: 400px;
  }
 /* services page */
  .services { /*overview*/
    margin-top:30px;
    margin-left:100px;
    padding:0;
    background-color:#DCDCDC;
    text-align: center;
    float: left;
    width: 55%;
    padding: 0px;
    height: 500px;
 }

  .job { /*job specific services*/
    margin-top:30px;
    margin-right:50px;
    padding:0;
    background-color:#DCDCDC;
    text-align: center;
    float: right;
    width: 30%;
    padding: 0px;
    height: 610px;

  }

  .begin { /* don't know where to begin? banner */
    margin-top:10px;
    margin-left:100px;
    background-color: #606060;
    text-align: center;
    float: left;
    width: 55%;
    padding: 0px;
    height: 100px;
    border-top: 15px solid #ffffff;
  }

}

/* 
 * home page 
 */

 .descriptor { /* LLA descriptor/tagline box */
   margin:0;
/*   background-color:#428bca;*/
   text-align: center;
   width: 35%;
   padding: 0px;
   height: 400px;
 /*  border-top: 30px solid #DCDCDC;
   border-bottom: 30px solid #DCDCDC;
   border-left: 50px solid #DCDCDC;
   border-right: 30px solid #DCDCDC;*/
 }

 .license-buy { /* sell license buttons */
  background-color:#800000;
  font-size: 120%;
  color: white;
  text-align: center;
  width: 60%;
  margin-top: 5%;
  height: 60px;
  border-radius: 10px;
}

 .license-sell { /* sell license buttons */
  margin:0;
  background-color:#800000;
  color: white;
  font-size: 120%;
  text-align: center;
  width: 60%;
  padding: 0px;
  height: 60px;
  border-radius: 10px;
  margin-top: 5%;
}



/* 
 * services page (other half) 
 */

.banner { /* CTA banner */
  margin:0;
  background-color:#DCDCDC;
  text-align: center;
  float: center;
  padding: 0px;
  height: 400px;
  border-top: 100px solid #ffffff;
  border-left: 90px solid #ffffff;
  border-right: 50px solid #ffffff;
  border-bottom: 50px solid #ffffff;*/
}
 .specific { /* specific services */
   margin:0;
   background-color:#428bca;
   text-align: center;
   width: 100%;
   padding: 0px;
   height: 100px;
   border-top: 15px solid #DCDCDC;
   border-bottom: 15px solid #DCDCDC;
   border-left: 30px solid #DCDCDC;
   border-right: 30px solid #DCDCDC;
 }

 /*
  * Contact page
  */
  .office-info {
    width: 40%;
    margin-left: 120px;
    margin-top: 50px;
    margin-bottom: 200px;
/*    border-top: 70px solid #ffffff;*/
  }
  .entry-title {
    margin-left: 10px;
    margin-top: 50px;

  }

  /* email form */
 /*   .error{
                padding: 5px 9px;
                border: 1px solid red;
                color: red;
                border-radius: 3px;
              }

              .success{
                padding: 5px 9px;
                border: 1px solid green;
                color: green;
                border-radius: 3px;
              }

              form span{
                color: red;
              }*/


/*
 * Masthead for nav
 */

 .blog-masthead {
/*  background-color: #428bca;*/
/*  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
  box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);*/
}

.blog-nav li {
  position: relative;
  display: inline-block;
  margin-top: 100px;
  padding: 20px;
  font-weight: 400; 
  float: left;
  font-size: 150%;



}
.blog-nav li a {
  color: black;
}


/* Nav links */
.blog-nav-item { /* HOME button */
  position: relative;
  display: inline-block;
  padding: 20px;
  margin-top: 100px;
  font-weight: 400;
  color: black;
  float: left;
  font-size: 150%;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: black;
  text-decoration: none;
}

/*.blog-nav:after,
.blog-nav-item:after {
    content:' ';
    display:block;
    border:2px solid #d0d0d0;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);

}
*/
/* Active state gets a caret at the bottom */
/*.blog-nav .active {
  color: #fff;
}*/
/*.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
  }*/


/*
 * Blog name and description
 */

 .blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
/*.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
  }*/


/*
 * Main column and sidebar layout
 */

/*.blog-main {
  font-size: 18px;
  line-height: 1.5;
}
*/

/* Create three equal columns for homepage reviews */
.review-column {
  float: left;
  width: 33%;
  padding: 10px;
  height: 300px; 
  text-align: center;

}

.column-quote {
  float: right;
  padding-top: 10%;
  padding-left: 40%;
  font-size: 150%;
 /* margin-right: -100px;*/
  /*white-space: nowrap;*/
  /*overflow: hidden;*/
}

.column-quote h3{
  font-size: 100%;
}

.column-dan {
  padding-top: 10%;
  float: left;
 /* width: 50%;*/
/*  padding: 10px;*/
 /* height: 300px;*/ 
 /* margin-left: 100px;*/
}


/* services page */
.services-overview {
  float: center;
  width: 33%;
  padding: 10px;
  height: 300px; 
  text-align: center;

}

/* resources page */
.search {
  float: left;
  width: 33%;
  margin-left: 20px;
  margin-top: 80px;
  height: 30px; 
  text-align: left;
  margin-bottom: 1000px;

}

.seo-content {
  float: left;
  width: 25%;
  margin-top: 80px;
  height: 200px; 
  text-align: left;
  background-color:#DCDCDC;
  margin-bottom: 15px;
  margin-left: 10px;
}

.industry-content {
  float: left;
  width: 25%;
  padding: 10px;
  height: 200px; 
  text-align: left;
  background-color:#428bca;
  margin-top: 50px;
  margin-bottom: 15px;
  margin-left: 10px;
}



/* pic of dan - homepage */
#pic-dan {
  width: 400px;
  height: 400px;
  position: relative;
  overflow: hidden;
  border-radius: 90%;
  display: inline-block;
  margin-left: 40%;
  float: left;
}

/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}

.services-overview {
  margin:110;
  padding:0;
  background-color:#DCDCDC;
  text-align: center;
  float: right;
  width: 38%;
  padding: 0px;
  height: 300px;
/*    width: 200px;
height: 300px;*/
}
.services-job {
  margin:0;
  padding:0;
  background-color:#DCDCDC;
  text-align: center;
  float: right;
  width: 38%;
  padding: 0px;
  height: 300px;
/*    width: 200px;
height: 300px;*/
}

/*
 * Main site
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-top: 10%;
  font-size: 150%;
  color: white;
}
.blog-post-search {
  margin-bottom: 5px;
  font-size: 20px;
}
.client-review-title {
  margin-bottom: 5px;
  font-size: 40px;
  text-align: center;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}



/*
 * Footer
 */

 .blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
